syntax: glob
*.orig
*.rej
*.old
*.diff
*.patch
*~
*.o
*.la
*.lo
.libs
Makefile.in
Makefile
config.*
tests/*.err
doc/*.html
.changeset
.revision
*.spec
xml_parse_test
cim_schema_*.zip
install_base_schema.sh
aclocal.m4
autom4te.cache
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
